<mat-sidenav-container class="sidenav-container">
  <!-- MENU LATERAL -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>{{titleNav}}</mat-toolbar>
    <!-- ICON E USUÁRIO NO MENU -->

    <!-- LISTA DE ROTAS SENDO CRIADAS VIA NGFOR -->
    <mat-nav-list *ngFor="let itemMenu of itensMenu$ | async; index as i" > <!--  PIPE (ASYNC) para transformar em vetor -->
      <a mat-list-item *ngIf="itemMenu.able === true"[href]="itemMenu.linkMenu">{{itemMenu.labelMenu}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- IMAGEM DO ICON NO MENU -->
      <img mat-card-sm-image [width]="wIcon" [height]="lIcon" [src]="iconGeneral" >
      <button mat-raised-button color="primary" (click)="openDialogLogin('Login screen')">
        <mat-icon class="mat-18" color="primary">login</mat-icon>
        LOG IN
       </button>

    </mat-toolbar>
    <!-- TRAZENDO TABELA DO CDD -->
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
