<mat-sidenav-container class="sidenav-container">
  <!-- MENU LATERAL -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">

      <img mat-card-image [src]="logoMenu" alt="Logo menu">

    <!-- LISTA DE ROTAS SENDO CRIADAS VIA NGFOR -->
    <mat-nav-list *ngFor="let itemMenu of itensMenu$ | async; index as i" > <!--  PIPE (ASYNC) para transformar em vetor -->
      <a mat-list-item *ngIf="itemMenu.able === true"[href]="itemMenu.linkMenu">{{itemMenu.labelMenu}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- IMAGEM DO ICON NO MENU -->
      <img mat-card-sm-image [width]="wIcon" [height]="lIcon" [src]="iconGeneral" >
      <ng-container *ngIf="user$ | async as user; else btLogin">
        <button mat-raised-button color="primary" [mat-menu-trigger-for]="userMenu" >
          <mat-icon class="mat-18">local_library</mat-icon>
            {{user.displayName}}
            <mat-icon class="mat-18">expand_more</mat-icon>
         </button>
      </ng-container>
      <ng-template #btLogin>
        <button mat-raised-button color="primary" (click)="openDialogLogin('Login screen')">
          <mat-icon class="mat-18">login</mat-icon>
          LOG IN
         </button>
      </ng-template>
    </mat-toolbar>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="logoutUser()">Logout</button>
    </mat-menu>
    <!-- TRAZENDO TABELA DO CDD -->
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
