<div mat-dialog-content>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ contentMsg }}</mat-card-title>
      <mat-card-subtitle>[Enter your virtual bookshelf]</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/img/4.png" alt="Banner login" />
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="loginFirebase()">
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email"/>
          <mat-error *ngIf="email?.errors?.['required']"
            >Field cannot be empty</mat-error
          >
          <mat-error *ngIf="email?.errors?.['email']"
            >The email format is not valid</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" formControlName="password" type="password" />
          <mat-error *ngIf="password?.errors?.['required']"
            >Field cannot be empty</mat-error
          >
        </mat-form-field>
        <mat-card-footer class="mat-card-footer">
          <button mat-raised-button color="accent" type="submit">Log in</button>
          <button mat-raised-button color="primary" >Close</button>
        </mat-card-footer>
      </form>
    </mat-card-content>
    <span>You have not yet registered, click <a routerLink="/app-app-register">here</a> and join this community</span>
  </mat-card>
</div>
<!-- <div mat-dialog-actions></div> -->
